<footer class="footer">
    <ul class="l-none">
        <li><a href="/https://www.marclombry.com/">Contact</a></li>
        <li><a href="/mentions">Mention légales</a></li>
    </ul>
</footer>

</body>
</html>