<header>
    <nav>
        <ul class="h-nav p-0 m-0 bg-red">
            <li class="m-10 p-10"><a href="/">Home</a></li>
            <li class="m-10 p-10"><a href="/games">Games</a></li>
            <li class="m-10 p-10"><a href="/pokemons">Pokémons</a></li>
        </ul>
    </nav>
</header>