<%- include('./partials/header') %>

<%- include('./partials/navbar') %>
<main class="content">
    <div>

    </div>
    <h1>Découvrez le premier épisode de pokémon</h1>
    <iframe width="100%" height="800px" src="https://www.youtube.com/embed/NBElzosmpYI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</main>

<%- include('./partials/footer') %>