<%- include('./partials/header') %>

<%- include('./partials/navbar') %>
<main class="content bg-white text-center m-auto">
    <h1>Mention légales</h1>
    <section>
        <h2>Responsable du site</h2>
        <p>Ce site est développé dans un but pédagogique par marc lombry dans le but de testé la technologie node js</p>
    </section>
    <section>
        <h2>Hébergement du site</h2>
        <p>Ce site est hébergé avec les services professionnels de la société Github</p>
    </section>
    <section>
        <h2>Cookie</h2>
        <p>Ce site ne contient aucun cookie et ne stock aucune information</p>
    </section>
    <section>
        <h2>Législation</h2>     
        <p>L'ensemble de ce site relève des législations française et internationale sur le droit d'auteur et la propriété intellectuelle.</p>
    </section>
    <section>  
        <h2>Limitation de responsabilité</h2>
        <p>Ce Site comporte des informations mises à disposition par des liens hypertextes vers d’autres sites qui n’ont pas été développés par Marc Lombry. </p>
        <p>L’existence d’un lien de ce Site vers un autre site ne constitue pas une validation de ce site ou de son contenu. </p>
        <p>Il appartient à l’internaute d’utiliser ces informations avec discernement et esprit critique et de protéger son ordinateur contre les failles de sécurité. </p>
        <p>La responsabilité de Marc Lombry ne saurait être engagée du fait aux informations, opinions et recommandations formulées par des tiers.  </p> 
    </section>
    <section>
        <h2>Images et droit d'auteur</h2>     
        <p>Pokemon est une franchise créée par Satoshi Tajiri en 1996.</p>
        <p>Les images utilisé pour ce site pédagogique proviennent  de pixabay</p>
    </section> 
</main>
<%- include('./partials/footer') %>